# The root domain you own (e.g., example.com)
DOMAIN=your_domain

# Your Namecheap Dynamic DNS Password
# Advanced DNS -> Dynamic DNS -> Dynamic DNS Password
DDNS_PASSWORD=your_namecheap_ddns_password

# Space-separated list of records to update.
# Use "@" for root and "www", "test", etc. for subdomains. Default if left empty: "@"
RECORDS="@ test"